{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <main class="form-signin w-100 m-auto">
                <form role="form" method="post" action="">
                    {{ form.csrf_token }}
                    <br>
                    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

                    <div class="form-floating">
                        {{ form.email(placeholder="email", class="form-control mb-2") }}
                        {{ form.email.label }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-floating">
                        {{ form.password(placeholder="password", class="form-control mb-2") }}
                        {{ form.password.label }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
                </form>
            </main>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}

{#{% block content %}#}
{#    <div class="text-center">#}
{#        <main class="form-signin w-100 m-auto">#}
{#            <form method="POST">#}
{#                {% form.csrf_token %}#}
{#                {% for error in form.non_field_errors %}#}
{#                    <div class="alert alert-danger alert-dismissible fade show" role="alert">#}
{#                        <strong class="error-text">{{ error }}</strong>#}
{#                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                    </div>#}
{#                {% endfor %}#}
{#                <img class="mb-4" src="#" alt="" width="72" height="57">#}
{#                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>#}
{##}
{#                <div class="form-floating">#}
{#                    <input type="text" name="username" class="form-control" id="username"#}
{#                           placeholder="Имя пользователя">#}
{#                    <label for="username">Имя пользователя</label>#}
{#                </div>#}
{#                <div class="form-floating">#}
{#                    <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">#}
{#                    <label for="password">Пароль</label>#}
{#                </div>#}
{##}
{#                <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>#}
{#                <p class="mt-5 mb-3 text-muted">&copy; 2023 Flask</p>#}
{#            </form>#}
{#        </main>#}
{#    </div>#}
{#{% endblock %}#}