{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Update/Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item_id, item in session['cart'].items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <form action="{{ url_for('items.update_cart_item', pk=item_id) }}" method="POST">
                    <td><input type="number" name="quantity" min="1" max="5" value="{{ item.quantity }}"></td>
                    <td>{{ item.price }} $</td>
                    {% set subtotal = item.quantity|int * item.price|float %}
                    <td>{{ subtotal }} $</td>
                    <td>
                        <button type="submit" class="btn btn-sm btn-success">Update</button>
                        <a href="{{ url_for('items.delete_cart_item', pk=item_id) }}" class="btn btn-sm btn-danger">Delete</a>
                    </td>

                </form>
            </tr>
        {% endfor %}
        <tr class="table-info">
            <th scope="row">Grand Total: {{ total }} $</th>
        </tr>
        </tbody>
    </table>
    <a href="{{ url_for('items.clear_cart') }}" class="btn btn-sm btn-danger">Clear Cart</a>
{% endblock %}