{% extends 'base.html' %}

{% block title %}{{ _('Cart') }}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ _('Item') }}</th>
            <th scope="col">{{ _('Quantity') }}</th>
            <th scope="col">{{ _('Price') }}</th>
            <th scope="col">{{ _('Subtotal') }}</th>
            <th scope="col">{{ _('Update/Delete') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item_id, item in session['cart'].items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <form action="{{ url_for('items.update_cart_item', pk=item_id) }}" method="POST">
                    <td><input type="number" name="quantity" min="1" max="5" value="{{ item.quantity }}"></td>
                    <td>{{ item.price }} $</td>
                    {% set subtotal = item.quantity|int * item.price|float %}
                    <td>{{ subtotal }} $</td>
                    <td>
                        <button type="submit" class="btn btn-sm btn-success">{{ _('Update') }}</button>
                        <a href="{{ url_for('items.delete_cart_item', pk=item_id) }}" class="btn btn-sm btn-danger">{{ _('Delete') }}</a>
                    </td>

                </form>
            </tr>
        {% endfor %}
        <tr class="table-info">
            <th scope="row">{{ _('Grand Total')}}: {{ total }} $</th>
        </tr>
        </tbody>
    </table>
    <a href="{{ url_for('items.clear_cart') }}" class="btn btn-sm btn-danger">{{ _('Clear Cart')}}</a>
{% endblock %}