{% extends 'base.html' %}

{% block title %}{{ item }}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
                <a href="#" class="mylink"><i class="bi bi-cart4"></i></a>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="{{ url_for('items.item_update', pk=item.id) }}" class="mylink"><i class="bi bi-pencil-square"></i></a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}