{% extends 'base.html' %}

{% block title %}{{ item }}{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ _('Item') }}</th>
            <th scope="col">{{ _('Price') }}</th>
            <th scope="col">{{ _('Options') }}</th>
            {% if current_user.is_authenticated %}
            <th scope="col">{{ _('Favorite') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="{{ url_for('items.item_update', pk=item.id) }}" class="mylink link-warning"><i
                            class="bi bi-pencil-square"></i></a>
                    <a href="{{ url_for('items.item_delete', pk=item.id) }}" class="mylink link-danger"><i
                            class="bi bi-trash"></i></a>
                {% endif %}

                <form action="{{ url_for('items.add_to_cart', pk=item.id) }}" method="POST">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="btn btn-sm btn-warning">{{ _('Add to Cart')}}</button>
                </form>

            </td>
            {% if current_user.is_authenticated %}
            <td>{% if current_user.is_authenticated %}
                {% if item_is_liked %}
                    <button class="item-favorite btn btn-info btn-sm"
                            data-item-favorite-url="{{ url_for('items.favorite', pk=item.id) }}">
                        {{ _('Unfavorite') }}
                    </button>
                {% else %}
                    <button class="item-favorite btn btn-info btn-sm"
                            data-item-favorite-url="{{ url_for('items.favorite', pk=item.id) }}">
                        {{ _('Favorite') }}
                    </button>
                {% endif %}
            {% endif %}
            </td>
        {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock %}